{% load crispy_forms_tags %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Chats</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.8/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-sRIl4kxILFvY47J16cr9ZwB07vP4J8+LH7qKQnuqkuIAvNWLzeN8tE5YBujZqJLB" crossorigin="anonymous">
</head>
<body>
    <div class="text-center my-4">
      <h2 class="fw-bold">Log In</h2>
      <p class="text-muted">Please Log In To Continue</p>
    </div>
   
    <div class="form-control"> 
    <form method="post" action="{% url 'chats:login' %}">
         {% csrf_token %}
        <div class='form-control'>
            {{form | crispy}}
            <div class="mb-8">
            <a href="{% url 'chats:register' %}" class="link-underline-opacity-0 link-primary">Don't Have An Account? Sign Up Now!</a>
            </div>
            <button class='btn btn-success center' type='submit'>Log in</button>
        </div>
    </form>
    </div>
    
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.8/dist/js/bootstrap.bundle.min.js" integrity="sha384-FKyoEForCGlyvwx9Hj09JcYn3nv7wiPVlz7YYwJrWVcXK/BmnVDxM+D2scQbITxI" crossorigin="anonymous"></script>
</body>
</html>